.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: blueviolet;
}

.navigation ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  flex: 1 1 30%;
  list-style-type: none;
  display: block;
  height: 100%;
  padding: 0.5rem 1rem;
}

.navigation ul li:hover {
  cursor: pointer;
  background-color: darkorchid;
}